
body,
html {  
        background: white;
        background-size: 100%;
        color: #555555;
        opacity: 1;
        font-family:  Cochin;
        margin: 0px;
        padding: 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        grid: auto; 
        display: block;
        margin-left: auto;
        margin-right: auto;
 
     }

h1   { color: #555555;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border: #777777;
        border-radius: 5px; 
        
        
      }


h2    { color: white;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        
        }
h3   { color: #555555; 
       text-align: center;
     
}

.center { text-align: center;
} 

.p { text-align: center;
}


nav { 
      padding-bottom: 30px;
      width: 100%;
      border-radius: 10px;
    }

.nav-link {
    color: white;
}
 
label { color: white;
        font-size: 23px;
        padding: 30px;
        text-align: center;
        margin: auto;
    }
 
 header {
     background-color: white;
     text-align: right;
     padding: 0px;
     }
 
 header .header-brand {
     font-family: Cochin;
     font-size: 24px;
     font-weight: 900;
     color: #F1F1F1;
     text-transform: uppercase;
     display: block;
 }
 

 .container { 
        font-family: Cochin; 
        padding: 10px;
        height: 10vh auto;
        width: 10vh auto;
        clear: fixed; 
        display: block; 
        border: 5px solid magneta;
        border-radius: 15px;
        margin-top: 6px;
        margin-bottom: 16px; 
        padding: 12px;
        resize: vertical; 
        box-sizing: border-box;
        position: relative;
    }
 
 
.btn { 
    background: #777777;
    color: white;
    }

.textarea { 
    padding: 0px;
    text-align: left;
    border: 3px solid #777777; 
    border-radius: 3px; 
    height: 6vh; 
    }

.messagearea {padding: 0px;
    text-align: left;
    border: 3px solid #777777; 
    border-radius: 3px; 
    height: 20vh; 
    width: 40%;
    }

 .input { padding: 0px;
    text-align: left;
    border: 3px solid #777777; 
    border-radius: 3px; 
    height: 6vh; 
    width: 40%;
    content: right;
    align-content: right;
    position: absolute;
 }
 
 .clearfix:after {
     content: " "; 
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
 
 
 .footer {background:#333333; 
         padding: 0px; 
         
        
        }

.contactme { padding: 10px;
            height: 10vh auto;
            width: 10vh auto;
            background: #333333; 
            clear: fixed; 
            display: block; 
            border: 5px solid #777777;
            border-radius: 15px;
            margin-top: 6px;
            margin-bottom: 16px; 
            padding: 12px;
            resize: vertical; 
            box-sizing: border-box;
            position: relative;
            
        }

.contactme { content: center;
            align-content: center;
}

.defaultpic {
    border-radius: 50%;
    width: 22.7%;
    height: 28.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.iconaf { width: 10%;
          height: 10%;
          display: block;
          margin-left: auto;
          margin-right: auto;

}

.experience { width: 30%;
            height: 30%;
            display: block;
            margin-left: auto;
            margin-right: auto;
}

.giticon {  width: 25%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linkedinicon { width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
